<div *ngIf="attribute">
  <h2 class="mat-headline">Detail of {{attribute.getStr()}}:</h2>
  <form>
    <mat-autocomplete #autoFrom="matAutocomplete">
      <mat-option *ngFor="let option of options" [value]="option">
        {{ option }}
      </mat-option>
    </mat-autocomplete>
    <mat-form-field>
      <input matInput
             [(ngModel)]="attribute.from"
             name="From Table"
             placeholder="From Table"
             (input)="onInput()"
             [matAutocomplete]="autoFrom"/>
    </mat-form-field>
    <mat-form-field>
      <input matInput
             [(ngModel)]="attribute.tableAlias"
             name="Table Alias"
             placeholder="Table Alias (can be blank)"
             (input)="onInput()" />
    </mat-form-field>
    <mat-form-field>
      <input matInput
             [(ngModel)]="attribute.name"
             name="Name"
             placeholder="Name"
             (input)="onInput()" />
    </mat-form-field>
    <mat-form-field>
      <input matInput
             [(ngModel)]="attribute.alias"
             name="Attribute Alias"
             placeholder="Attribute Alias (can be blank)"
             (input)="onInput()" />
    </mat-form-field>
  </form>
</div>
